#profile{
    background-color: white;
    display: grid;
    flex-direction: row;
    height: 300px;
    grid-template-columns: 300px 200px;
    
}


#fotoperfil{
    flex-direction: row;
    margin-left: 50px;
   margin-top: 25px;
  
    

}
#ftperfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
     vertical-align: middle;
     box-shadow: 3px 3px 3px 3px gray;
}

#nomeuser{
    margin-top: 70px;
    width: 200px;
 
   


}

.p{
    font-size: 30px;
}

#nomeprincipal{
    font-size: 40px;
    font-weight: bold;
}