#profile{
    background-color: white;
    display: grid;
    flex-direction: row;
    height: 300px;
    grid-template-columns: 300px 200px 80px 80px;
    
}


#fotoperfil{
    flex-direction: row;
    margin-left: 50px;
   margin-top: 25px;
    

}
#ftperfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
     vertical-align: middle;
     box-shadow: 3px 3px 3px 3px gray;
}

#cont1{
    width: 100px;
    font-size: 20px;
    height: 100px;
    background-color: #7C77B9;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    border-radius: 50%;
    margin-left: 80px;
    

}

#cont2{
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: #7C77B9;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 50%;
    

}

#nomeuser{
    margin-top: 70px;
   
}

