.body {
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.App {
  background-color: white;
  min-height: 100vh;padding-bottom: 50px;
  
 
}

.grid{
  display: grid;

  grid-template-columns: 3;
  grid-template-rows: 4;

  grid-template-areas: 
    'topo topo topo'
    'esquerda estante direita'
    'resenha resenha resenha';
}




.estante {
  height: 600px;
  width: 900px;
  justify-content: center;
  display: grid;
  grid-area: estante;





}

.resenha {
  width: 1000px;
  height: 300px;
  border: 3px solid;
  border-color: rgb(60, 189, 125);
  margin-left: 30px;
  padding: 10px;
  display: grid;
  grid-area: resenha;

}
.esquerda {
  width: 250px;
  height: 700px;
  display: grid;
  grid-area: esquerda;
}


.direita {
  width: 100px;
  height: 100px;

  display: grid;
  grid-area: direita;

}


.conte{
  background-color: lavender;
  width: 200px;
  height: 200px;
  display: flex-box;
  justify-content: center;

  display: grid;
  grid-area: conte;
  border-radius: 20px;
  margin-left: 80px;
  margin-top: 15px;
  text-align: center;
  



}


.perfil{
  display: grid;
  grid-area: perfil;
}

.headerr{
  display: grid;
  grid-area: header;
}

.topo{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: ' header header'
  'perfil conte';
}